

.custom-btn-green{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
}
.custom-btn-green:hover{
    letter-spacing: .15em;
    background-color: #29a079;
    box-shadow: 0 0 35px #249a73 ;
    color: #92c7b5;
}
.custom-btn-green::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #205375 ;
}
.custom-btn-green span{
    position: relative;
    z-index: 1;
}



.custom-btn-red{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
}
.custom-btn-red:hover{
    letter-spacing: .15em;
    background-color: #e01e0c ;
    box-shadow: 0 0 35px #e01e0c ;
    color: #ee5b4e;
}
.custom-btn-red::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #112B3C ;
}
.custom-btn-red span{
    position: relative;
    z-index: 1;
}



.custom-btn-info{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
}
.custom-btn-info:hover{
    letter-spacing: .15em;
    background-color: #4096d0;
    box-shadow: 0 0 35px #4096d0 ;
    color: rgb(156, 208, 244);
}
.custom-btn-info::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #205375 ;
}
.custom-btn-info span{
    position: relative;
    z-index: 1;
}




.custom-btn-orange{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
}
.custom-btn-orange:hover{
    letter-spacing: .15em;
    background-color: #F66B0E;
    box-shadow: 0 0 35px #F66B0E ;
    color: #ee8d4d;
}
.custom-btn-orange::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #112B3C ;
}
.custom-btn-orange span{
    position: relative;
    z-index: 1;
}

.Table_name{
    color: white;
    text-shadow: #205375;
}