
.container{
    padding: .5rem;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>img{
    width: 3rem;
    height: 2.5rem;
    color: #e9edef;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
.logo>span{
    font-weight: 600;
}
