.custom-btn-blue{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
}
.custom-btn-blue:hover{
    letter-spacing: .15em;
    background-color: #205375;
    box-shadow: 0 0 35px #205375 ;
    color: #8fc0e1;
}
.custom-btn-blue::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #112B3C ;
}
.custom-btn-blue span{
    position: relative;
    z-index: 1;
}



.custom-btn-orange-order{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
    margin-top: 50px;
}
.custom-btn-orange-order:hover{
    letter-spacing: .15em;
    background-color: #F66B0E;
    box-shadow: 0 0 35px #F66B0E ;
    color: #ee8d4d;
}
.custom-btn-orange-order::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #112B3C ;
}
.custom-btn-orange-order span{
    position: relative;
    z-index: 1;
}

.order_table{
    color: white;
    text-shadow: #205375;
    
}