
.Card {
    width: 450px;
    height: 650px;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.073);
    background: rgba(255, 255, 255, 0.055);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0 , 0, 0.1);
    backdrop-filter: blur(.0 1px);
    
}

.card-title{
    color: #205375;
}

.card-text{
    color: #205375;
}

.card-footer{
    color: #205375;
}


.custom-btn-orange{
    background-color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    margin-right: 1rem;
    border-radius: 5px;
}
.custom-btn-orange:hover{
    letter-spacing: .15em;
    background-color: #F66B0E;
    box-shadow: 0 0 35px #F66B0E ;
    color: #ee8d4d;
}
.custom-btn-orange::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #205375 ;
}
.custom-btn-orange span{
    position: relative;
    z-index: 1;
}

