.sliderz{
    width: 100%;
    height: 500px;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.074);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0 , 0, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    align-items: center;
}