@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--navy);
  transition: all 3ms ease;
  color: var(--white);
  scroll-behavior: smooth;
}

code {
  font-family: 'Poppins', sans-serif ;
}

.single_product{
  align-items: center;
}

.single_product img{
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.homepage__pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
